* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}


/**************HEADER*******************/

header {
    box-shadow: 0px 20px 18px -20px rgba(0, 0, 0, 0.75);
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu span i {
    font-size: 40px;
    color: #ff502f;
    display: none;
}
.contenedor a span  {
    
    color: #ffffff;

}

.menu {
    transition: .4s ease-in;
}

header img {
    max-width: 200px;
    height: 80px;
    width: 100%;
    overflow: hidden;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 20px;
}

header ul li:hover a {
    color: #ff502f;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fca_bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header .tituloFlex {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 80vh;
}

.contenedorTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorTitulo {
    text-align: center;
}

h1 {
    font-size: 100px;
    color: #ffffff;
    margin: 0;
}

h2 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 0;
}

.boton {
    background: rgba(0, 0, 0, .6);
    font-size: 20px;
    color: #ffffff;
    border: 1px solid #ff502f;
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    transition: ease-in-out .5s;
    text-align: center;
    text-transform: uppercase;
}

.contenedorTitulo .boton:hover {
    background-color: #ff502f;
}

@media (max-width:680px) {
    header span {
        font-size: 40px;
    }
    .menu span i {
        display: block;
    }
    header nav {
        position: absolute;
        top: 60px;
        left: 0;
        background: rgba(0, 0, 0, .9);
        width: 100%;
        display: none;
    }
    header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header ul li {
        margin-bottom: 20px !important;
    }
    header ul li a {
        font-size: 2rem;
    }
    header h1 {
        font-size: 60px;
        color: #ffffff;
        margin: 0;
    }
    header h2 {
        font-size: 20px;
        color: #ffffff;
        margin-top: 0;
    }
}


/******SECCION SOBRE MI********/

#sobreMi {
    padding-bottom: 5rem;
}

h3 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.contenedorSobreMi {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenedorSobreMi .miImagen div {
    max-width: 400px;
    height: 400px;
    border-radius: 50%;
    /* border: 5px solid #ff502f; */
    overflow: hidden;
    /* position: relative; */
    box-shadow: 10px 10px 37px -20px rgba(0, 0, 0, 0.75);
}

.contenedorSobreMi .miImagen img {
    width: 100%;
    height: 100%;
}

.contenedorSobreMi .textoSobreMi {
    width: 42%;
}

.textoSobreMi .boton {
    background: none;
    color: #ff502f;
    box-shadow: 20px 15px 38px -12px rgba(0, 0, 0, .8);
}

.textoSobreMi .boton:hover {
    background-color: #ff502f;
    color: #ffffff;
}

@media (max-width:680px) {
    .contenedorSobreMi {
        display: flex;
        flex-direction: column;
    }
    .contenedorSobreMi .miImagen div {
        max-width: 200px;
        height: 200px;
        margin-bottom: 1rem;
    }
    .contenedorSobreMi .textoSobreMi {
        width: 90%;
        text-align: center;
    }
    .textoSobreMi .boton {
        display: block;
        width: 100%;
    }
}


/******SERVICIOS********/

#servicios {
    padding-bottom: 5rem;
}

.contenedorServicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenedorServicios .servicio {
    width: 25%;
    padding: 34px 30px 38px 30px;
    border-radius: 10px;
    margin: 0 20px 40px 20px;
    position: relative;
}

.servicio h4 {
    font-size: 30px;
    margin: 0;
}

.servicio p {
    margin-bottom: 20px;
    height: 180px;
}

.contenedorServicios .violeta {
    background: linear-gradient(to top, #ff502f, #ec9b3b);
    box-shadow: 20px 15px 38px -12px rgba(255, 80, 47, 0.5);
}

.contenedorServicios .celeste {
    background: linear-gradient(to top, #0028ff, #3e64ff);
    box-shadow: 0 12px 30px 0 rgba(0, 40, 255, 0.45);
}

.servicio .ondas {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.servicio .icono {
    float: right;
}

@media (max-width:680px) {
    .contenedorServicios {
        flex-direction: column;
    }
    .contenedorServicios .servicio {
        width: 90%;
    }
}


/******MIS TRABAJOS********/

#misTrabajos {
    padding-bottom: 5rem;
}

button.owl-prev,
button.owl-next {
    font-size: 4rem !important;
}

button.owl-prev {
    margin-right: 3rem !important;
}

button.owl-prev:hover,
button.owl-next:hover {
    background: none !important;
}

#misTrabajos span {
    color: #ff502f !important;
}


/******PORQUE TRABAJAR CONMIGO********/

#porqueTrabajar {
    padding-bottom: 5rem;
}

.contenedorTrabajar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 6rem;
}

.contenedorTrabajar .item {
    width: 28%;
    text-align: center;
}

.contenedorTrabajar ul li {
    list-style: none;
    margin-top: 2rem;
}

.contenedorTrabajar ul li:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
    margin-top: 1rem;
}

.contenedorTrabajar ul li:nth-child(3) {
    line-height: 30px;
}

.contenedorTrabajar .item i {
    font-size: 5rem;
    color: #ff502f;
}

@media (max-width:680px) {
    .contenedorTrabajar {
        flex-direction: column;
    }
    .contenedorTrabajar .item {
        width: 90%;
    }
}


/******BLOG********/

.contenedorPublicaciones {
    display: flex;
    justify-content: space-around;
}

.contenedorPublicaciones .publicacion {
    width: 30%;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 1rem;
    box-shadow: 20px 15px 38px -12px rgba(0, 0, 0, .8);
}

.contenedorPublicaciones .publicacion img {
    width: 100%;
}

.publicacion .boton {
    background: none;
    color: #ff502f;
    box-shadow: 20px 15px 38px -12px rgba(0, 0, 0, .8);
    margin-left: 0;
}

.publicacion .boton:hover {
    background-color: #ff502f;
    color: #ffffff;
}

#blog {
    background-color: #f9f8eb;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.publicacion .contenidoBlog {
    width: 100%;
}

.publicacion .contenidoBlog h4 {
    font-size: 1.5rem;
    margin: 0;
}

.publicacion .contenidoBlog p {
    line-height: 30px;
}

@media (max-width:680px) {
    .contenedorPublicaciones {
        flex-direction: column;
        align-items: center;
    }
    .contenedorPublicaciones .publicacion {
        width: 80%;
        margin-bottom: 2rem;
    }
}


/******QUE ESPERAS********/

#queEsperas {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fca_bg_queEsperas.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contenidoEsperas {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contenidoEsperas h3 {
    margin: 0;
    color: #ffffff;
}

.contenidoEsperas .boton:hover {
    background-color: #ff502f;
}

@media (max-width:680px) {

    .contenidoEsperas h3 {
        font-size: 35px;
    }
}
/******CONTACTO********/

#contacto {
    margin-bottom: 5rem;
}

.formContacto {
    display: flex;
}

.formContacto .informacion {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff502f;
    border-right: 2px solid #000000;
    box-shadow: 7px 0px 11px -4px rgba(0, 0, 0, 0.75);
}

.formContacto .informacion h4 {
    font-size: 3rem;
    margin: 0;
    color: #ffffff;
    letter-spacing: 3px;
}

.formContacto .informacion h5 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
    letter-spacing: 5px;
}

.formContacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

form {
    width: 60%;
    padding-left: 2rem;
}

input {
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ff502f;
    box-shadow: 0px 5px 0px -3px rgba(0, 0, 0, 0.33);
}

input:focus {
    outline: none;
}

textarea {
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 2px solid #ff502f;
    box-shadow: 0px 5px 0px -3px rgba(0, 0, 0, 0.33);
}

textarea:focus {
    outline: none;
}

.formulario .boton {
    background: none;
    color: #ff502f;
    box-shadow: 20px 15px 38px -12px rgba(0, 0, 0, .8);
    margin-left: 0;
}

.formulario .boton:hover {
    background-color: #ff502f;
    color: #ffffff;
}

@media (max-width:680px) {
    #contacto h3 {
        margin: 20px 0;
    }
    .informacion {
        margin: 20px 0;
    }
    .formContacto {
        flex-direction: column;
        align-items: center;
    }
    .formContacto .informacion {
        width: 90%;
        height: 30vh;
    }
    .formContacto .formulario {
        width: 90%;
    }
    form {
        width: 100%;
        padding: 0;
    }
    form input,
    form textarea {
        padding: 0 10px;
        margin-top: 10px;
    }
}


/******FOOTER********/

footer {
    background: #414141;
    height: 25vh;
    padding: 30px 0 30px 0;
    margin-bottom: 0;
}

.contenidoFooter {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.redesSociales {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0;
}

.redesSociales li {
    list-style: none;
    margin-right: .5rem;
    padding: 10px 15px;
    border-radius: 3px;
    transform: rotateY(0);
    transition: ease-in-out .6s;
}

.redesSociales li:hover {
    background: #ff502f;
    transform: rotateY(360deg);
    transition: ease-in-out .6s;
}

.redesSociales li a i {
    font-size: 2rem;
}

.textoFooter p {
    color: #f9f8eb;
    font-size: 20px;
    margin-bottom: 0;
}

.textoFooter span {
    color: #ff502f;
}

@media (max-width:680px) {
    footer {
        padding: 0;
    }
    .contenidoFooter {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0 0 0;
    }
    .contenidoFooter ul li a i {
        font-size: 1.5rem;
    }
    .textoFooter p {
        font-size: 1rem;
    }
}